body{
    background-color: rgb(240, 248, 248);
    
}
main{
    background-color: rgba(0,0,0, 0.3);
    margin: auto;
    width: 80%;
    border-radius: 30%;

}

div { display: block;
    width: 400px;
    margin: 10px ;
    text-align: center;
  }
